 .forecastCard{

background:white;
border-radius:18px;
padding:15px;
width:110px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.05);

}

.forecastCard img{

 width:55px;
    height:55px;
}

.forecastCard h4{

margin:8px 0;

}

.forecastCard{
    padding:14px;
}

.forecastCard h3{
    font-size:16px;
}

.forecastCard p{
    font-size:14px;
}