 /* .weatherStatus{
    margin-top:20px;
}

.weatherStatus p{
    font-size:18px;
    font-weight:600;
    margin-bottom:5px;
}

.weatherStatus span{
    color:#777;
} */


.weatherStatus{

    text-align:center;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
   

}

.weatherStatus p{

    font-size:20px;
    margin:0;

}

.weatherStatus span{

    color:#777;

}