.search{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
}

.search div{
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
}

.search input{
    flex:1;
    height:40px;
    padding:0 15px;
    border:none;
    border-radius:20px;
    background:#f2f2f2;
    outline:none;
}

.search button{
    width:80px;
    height:40px;
    border:none;
    border-radius:12px;
    background:#5B6CFF;
    color:white;
    cursor:pointer;
}

.search img{
    width:28px;
}