body{
    margin:0;
   background:linear-gradient(135deg,#EAF2FF,#F8FBFF);
}

#root{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.app-container{
    width:1200px;
    max-width:95%;
    height:100vh;
    display:flex;
    background:white;
    border-radius:30px;
    overflow:hidden;
}

.sidebar{
    width:28%;
    background:#fff;
}

.mainContent{
    width:72%;
    background:#f6f7fb;
}

/* @media (max-width:768px){

    .app-container{
        flex-direction:column;
        height:auto;
        border-radius:20px;
    }

    .sidebar{
        width:100%;
        padding:15px;
        box-sizing:border-box;
    }

    .mainContent{
        width:100%;
        padding:15px;
        box-sizing:border-box;
    }

} */


@media (max-width:768px){

    .app-container{
        flex-direction:column;
        height:auto;
        border-radius:20px;
    }

    .sidebar{
        width:100%;
    }

    .mainContent{
        width:100%;
    }

}