body{
    margin:0;
    background:#ececec;
}

#root{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.app-container{
    width:1200px;
    max-width:95%;
    height:100vh;

    display:flex;

    background:white;

    border-radius:30px;

    overflow:hidden;
}

.sidebar{
    width:28%;
    background:#fff;
}

.mainContent{
    width:72%;
    background:#f6f7fb;
}